vcrpy  # Needed by payment_pagseguro
odoo-test-helper  # Needed by spec_driven_model
signxml<3.1.0
xmldiff
odoo14-addon-account-statement-import-txt-xlsx @ git+https://github.com/kmee/bank-statement-import@14.0-develop#subdirectory=setup/account_statement_import_txt_xlsx
